<footer class="page-footer font-small bg-secondary pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white"> siga nas redes sociais</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://www.facebook.com/" target="_blank" class="icoFacebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/" target="_blank" class="icoGitHub">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/" target="_blank" class="icoInstagram">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
<div class="footer-copyrigth bg-secondary text-center py-3">
    <span class="text-dark"> Todos os direitos reservados: Rango</span>
    <a class="text-dark" target="_blank" href="https://brazil.generation.org/"> brazil.generation.org</a>
</div>

</footer>